child_locator_ws/src/main/resources/childLocator.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.child_locator.sirs.ist.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.child_locator.sirs.ist.com/"
	name="ChildLocatorService">

	<types>
		<xs:schema xmlns:tns="http://ws.child_locator.sirs.ist.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://ws.child_locator.sirs.ist.com/">
			
			<xs:element name="print" type="tns:print" />
			<xs:element name="printResponse" type="tns:printResponse" />
			<xs:element name="InvalidLoginTime" type="tns:InvalidLoginTime"/>
			<xs:element name="login" type="tns:login" />
			<xs:element name="loginResponse" type="tns:loginResponse" />
			<xs:element name="register" type="tns:register" />
			<xs:element name="registerResponse" type="tns:registerResponse" />
			
			<xs:complexType name="print">
				<xs:sequence />
			</xs:complexType>
			
			<xs:complexType name="printResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="InvalidLoginTime">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
			
			<xs:complexType name="login">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="password" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="loginResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="register">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="password1" type="xs:string" minOccurs="0" />
					<xs:element name="password2" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="registerResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	
	
	<message name="print">
		<part name="print" element="tns:print" />
	</message>
	<message name="printResponse">
		<part name="printResponse" element="tns:printResponse" />
	</message>
	<message name="InvalidLoginTime">
        <part name="fault" element="tns:InvalidLoginTime"/>
    </message>
	<message name="login">
		<part name="login" element="tns:login" />
	</message>
	<message name="loginResponse">
		<part name="loginResponse" element="tns:loginResponse" />
	</message>
	<message name="register">
		<part name="register" element="tns:register" />
	</message>
	<message name="registerResponse">
		<part name="registerResponse" element="tns:registerResponse" />
	</message>


	<portType name="ChildLocatorPortType">
		<operation name="print">
			<input name="print"	message="tns:print" />
			<output name="printResponse" message="tns:printResponse" />
			<fault name="InvalidLoginTime" message="tns:InvalidLoginTime"/>
		</operation>
		<operation name="login">
			<input name="login"	message="tns:login" />
			<output name="loginResponse" message="tns:loginResponse" />
		</operation>
		<operation name="register">
			<input name="register"	message="tns:register" />
			<output name="registerResponse" message="tns:registerResponse" />
		</operation>
	</portType>
	
	
	<binding name="ChildLocatorBinding" type="tns:ChildLocatorPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="print">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidLoginTime">
                <soap:fault name="InvalidLoginTime" use="literal"/>
            </fault>
		</operation>
		<operation name="login">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="register">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ChildLocatorService">
		<port name="ChildLocatorPort" binding="tns:ChildLocatorBinding">
			<soap:address location="http://localhost:8080/ws" />
		</port>
	</service>
</definitions>