child_locator_ws/src/main/resources/childLocator.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.child_locator.sirs.ist.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.child_locator.sirs.ist.com/"
	name="ChildLocatorService">

	<types>
		<xs:schema xmlns:tns="http://ws.child_locator.sirs.ist.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://ws.child_locator.sirs.ist.com/">

			<xs:element name="print" type="tns:print" />
			<xs:element name="printResponse" type="tns:printResponse" />
			<xs:element name="InvalidLoginTime" type="tns:InvalidLoginTime" />
			<xs:element name="login" type="tns:login" />
			<xs:element name="loginResponse" type="tns:loginResponse" />
			<xs:element name="register" type="tns:register" />
			<xs:element name="registerResponse" type="tns:registerResponse" />
			<xs:element name="getFollowees" type="tns:getFollowees" />
			<xs:element name="getFolloweesResponse" type="tns:getFolloweesResponse" />
			<xs:element name="getAddNonce" type="tns:getAddNonce" />
			<xs:element name="getAddNonceResponse" type="tns:getAddNonceResponse" />
			<xs:element name="ConnectionAlreadyExists" type="tns:ConnectionAlreadyExists" />

			<xs:complexType name="print">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="printResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="InvalidLoginTime">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="login">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string"
						minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="password" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="loginResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="register">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string"
						minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="password1" type="xs:string" minOccurs="0" />
					<xs:element name="password2" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="registerResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="followeeView">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFollowees">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getFolloweesResponse">
				<xs:sequence>
					<xs:element name="followees" type="tns:followeeView"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getAddNonce">
				<xs:sequence>
					<xs:element name="followerPhoneNumber" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAddNonceResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ConnectionAlreadyExists">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>

	<message name="print">
		<part name="print" element="tns:print" />
	</message>
	<message name="printResponse">
		<part name="printResponse" element="tns:printResponse" />
	</message>
	<message name="InvalidLoginTime">
		<part name="fault" element="tns:InvalidLoginTime" />
	</message>
	<message name="login">
		<part name="login" element="tns:login" />
	</message>
	<message name="loginResponse">
		<part name="loginResponse" element="tns:loginResponse" />
	</message>
	<message name="register">
		<part name="register" element="tns:register" />
	</message>
	<message name="registerResponse">
		<part name="registerResponse" element="tns:registerResponse" />
	</message>
	<message name="getFollowees">
		<part name="getFollowees" element="tns:getFollowees" />
	</message>
	<message name="getFolloweesResponse">
		<part name="getFolloweesResponse" element="tns:getFolloweesResponse" />
	</message>
	<message name="getAddNonce">
		<part name="getAddNonce" element="tns:getAddNonce" />
	</message>
	<message name="getAddNonceResponse">
		<part name="getAddNonceResponse" element="tns:getAddNonceResponse" />
	</message>
	<message name="ConnectionAlreadyExists">
		<part name="fault" element="tns:ConnectionAlreadyExists" />
	</message>

	<portType name="ChildLocatorPortType">
		<operation name="print">
			<input name="print" message="tns:print" />
			<output name="printResponse" message="tns:printResponse" />
			<fault name="InvalidLoginTime" message="tns:InvalidLoginTime" />
		</operation>
		<operation name="login">
			<input name="login" message="tns:login" />
			<output name="loginResponse" message="tns:loginResponse" />
		</operation>
		<operation name="register">
			<input name="register" message="tns:register" />
			<output name="registerResponse" message="tns:registerResponse" />
		</operation>
		<operation name="getFollowees">
			<input name="getFollowees" message="tns:getFollowees" />
			<output name="getFolloweesResponse" message="tns:getFolloweesResponse" />
		</operation>
		<operation name="getAddNonce">
			<input name="getAddNonce" message="tns:getAddNonce" />
			<output name="getAddNonceResponse" message="tns:getAddNonceResponse" />
			<fault name="ConnectionAlreadyExists" message="tns:ConnectionAlreadyExists" />
		</operation>
	</portType>

	<binding name="ChildLocatorBinding" type="tns:ChildLocatorPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="print">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidLoginTime">
				<soap:fault name="InvalidLoginTime" use="literal" />
			</fault>
		</operation>
		<operation name="login">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="register">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getFollowees">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="getAddNonce">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ConnectionAlreadyExists">
				<soap:fault name="ConnectionAlreadyExists" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="ChildLocatorService">
		<port name="ChildLocatorPort" binding="tns:ChildLocatorBinding">
			<soap:address location="http://localhost:8080/ws" />
		</port>
	</service>
</definitions>