child_locator_ws/src/main/resources/childLocator.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.child_locator.sirs.ist.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.child_locator.sirs.ist.com/"
	name="ChildLocatorService">

	<types>
		<xs:schema xmlns:tns="http://ws.child_locator.sirs.ist.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://ws.child_locator.sirs.ist.com/">

			<xs:element name="print" type="tns:print" />
			<xs:element name="printResponse" type="tns:printResponse" />
			<xs:element name="login" type="tns:login" />
			<xs:element name="loginResponse" type="tns:loginResponse" />
			<xs:element name="confirmLogin" type="tns:confirmLogin" />
			<xs:element name="confirmLoginResponse" type="tns:confirmLoginResponse" />
			<xs:element name="register" type="tns:register" />
			<xs:element name="registerResponse" type="tns:registerResponse" />
			<xs:element name="confirmRegistration" type="tns:confirmRegistration" />
			<xs:element name="confirmRegistrationResponse" type="tns:confirmRegistrationResponse" />
			<xs:element name="getFollowees" type="tns:getFollowees" />
			<xs:element name="getFolloweesResponse" type="tns:getFolloweesResponse" />
			<xs:element name="getFollowers" type="tns:getFollowers" />
			<xs:element name="getFollowersResponse" type="tns:getFollowersResponse" />
			<xs:element name="getAddNonce" type="tns:getAddNonce" />
			<xs:element name="getAddNonceResponse" type="tns:getAddNonceResponse" />
			<xs:element name="createChannel" type="tns:createChannel" />
			<xs:element name="createChannelResponse" type="tns:createChannelResponse" />
			<xs:element name="addFollowee" type="tns:addFollowee" />
			<xs:element name="addFolloweeResponse" type="tns:addFolloweeResponse" />
			
			<xs:element name="sendCoordinates" type="tns:sendCoordinates" />
			<xs:element name="sendCoordinatesResponse" type="tns:sendCoordinatesResponse" />
			
			<xs:element name="getCoordinates" type="tns:getCoordinates" />
			<xs:element name="getCoordinatesResponse" type="tns:getCoordinatesResponse" />

			<!-- SOAP FAULTS -->
			<xs:element name="InvalidLoginTime" type="tns:InvalidLoginTime" />
			<xs:element name="ConnectionAlreadyExists" type="tns:ConnectionAlreadyExists" />
			<xs:element name="InvalidPhoneNumber" type="tns:InvalidPhoneNumber" />
			<xs:element name="InvalidEmail" type="tns:InvalidEmail" />
			<xs:element name="InvalidPassword" type="tns:InvalidPassword" />
			<xs:element name="DifferentPasswords" type="tns:DifferentPasswords" />
			<xs:element name="InvalidNonce" type="tns:InvalidNonce" />



			<xs:complexType name="print">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="printResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="login">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string"
						minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="password" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="loginResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="confirmLogin">
				<xs:sequence>
					<xs:element name="code" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="confirmLoginResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="register">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string"
						minOccurs="0" />
					<xs:element name="email" type="xs:string" minOccurs="0" />
					<xs:element name="password1" type="xs:string" minOccurs="0" />
					<xs:element name="password2" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="registerResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="confirmRegistration">
				<xs:sequence>
					<xs:element name="code" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="confirmRegistrationResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getFollowees">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getFolloweesResponse">
				<xs:sequence>
					<xs:element name="followees" type="tns:followeeView"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="getFollowers">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getFollowersResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getAddNonce">
				<xs:sequence>
					<xs:element name="followerPhoneNumber" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAddNonceResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="createChannel">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string"	minOccurs="0" />
					<xs:element name="publicKey"   type="xs:string"	minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createChannelResponse">
				<xs:sequence>
					<xs:element name="symKey" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="addFollowee">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
					<xs:element name="nonce" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addFolloweeResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>

			<!-- VIEWS -->
			<xs:complexType name="followeeView">
				<xs:sequence>
					<xs:element name="phoneNumber" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<!-- SOAP FAULT -->
			<xs:complexType name="InvalidLoginTime">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ConnectionAlreadyExists">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InvalidPhoneNumber">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InvalidEmail">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InvalidPassword">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DifferentPasswords">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InvalidNonce">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
					
			<xs:complexType name="sendCoordinates">
				<xs:sequence>
					<xs:element name="phone" type="xs:string"
						minOccurs="0" />
					<xs:element name="latitude" type="xs:string" minOccurs="0" />
					<xs:element name="longitude" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sendCoordinatesResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="getCoordinates">
				<xs:sequence>
					<xs:element name="phoneDad" type="xs:string" minOccurs="0" />
					<xs:element name="phoneSon" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getCoordinatesResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</types>



	<message name="print">
		<part name="print" element="tns:print" />
	</message>
	<message name="printResponse">
		<part name="printResponse" element="tns:printResponse" />
	</message>

	<message name="login">
		<part name="login" element="tns:login" />
	</message>
	<message name="loginResponse">
		<part name="loginResponse" element="tns:loginResponse" />
	</message>
	
	<message name="confirmLogin">
		<part name="confirmLogin" element="tns:confirmLogin" />
	</message>
	<message name="confirmLoginResponse">
		<part name="confirmLoginResponse" element="tns:confirmLoginResponse" />
	</message>

	<message name="register">
		<part name="register" element="tns:register" />
	</message>
	<message name="registerResponse">
		<part name="registerResponse" element="tns:registerResponse" />
	</message>
	
	<message name="confirmRegistration">
		<part name="confirmRegistration" element="tns:confirmRegistration" />
	</message>
	<message name="confirmRegistrationResponse">
		<part name="confirmRegistrationResponse" element="tns:confirmRegistrationResponse" />
	</message>

	<message name="getFollowees">
		<part name="getFollowees" element="tns:getFollowees" />
	</message>
	<message name="getFolloweesResponse">
		<part name="getFolloweesResponse" element="tns:getFolloweesResponse" />
	</message>
	
	<message name="getFollowers">
		<part name="getFollowers" element="tns:getFollowers" />
	</message>
	<message name="getFollowersResponse">
		<part name="getFollowersResponse" element="tns:getFollowersResponse" />
	</message>

	<message name="getAddNonce">
		<part name="getAddNonce" element="tns:getAddNonce" />
	</message>
	<message name="getAddNonceResponse">
		<part name="getAddNonceResponse" element="tns:getAddNonceResponse" />
	</message>
	
	<message name="createChannel">
		<part name="createChannel" element="tns:createChannel" />
	</message>
	<message name="createChannelResponse">
		<part name="createChannelResponse" element="tns:createChannelResponse" />
	</message>

	<message name="addFollowee">
		<part name="addFollowee" element="tns:addFollowee" />
	</message>
	<message name="addFolloweeResponse">
		<part name="addFolloweeResponse" element="tns:addFolloweeResponse" />
	</message>
	<message name="sendCoordinates">
		<part name="sendCoordinates" element="tns:sendCoordinates" />
	</message>
	<message name="sendCoordinatesResponse">
		<part name="sendCoordinatesResponse" element="tns:sendCoordinatesResponse" />
	</message>
	<message name="getCoordinates">
		<part name="getCoordinates" element="tns:getCoordinates" />
	</message>
	<message name="getCoordinatesResponse">
		<part name="getCoordinatesResponse" element="tns:getCoordinatesResponse" />
	</message>
	<!-- SOAP FAULTS -->
	<message name="InvalidLoginTime">
		<part name="fault" element="tns:InvalidLoginTime" />
	</message>
	<message name="ConnectionAlreadyExists">
		<part name="fault" element="tns:ConnectionAlreadyExists" />
	</message>
	<message name="InvalidPhoneNumber">
		<part name="fault" element="tns:InvalidPhoneNumber" />
	</message>
	<message name="InvalidEmail">
		<part name="fault" element="tns:InvalidEmail" />
	</message>
	<message name="InvalidPassword">
		<part name="fault" element="tns:InvalidPassword" />
	</message>
	<message name="DifferentPasswords">
		<part name="fault" element="tns:DifferentPasswords" />
	</message>
	<message name="InvalidNonce">
		<part name="fault" element="tns:InvalidNonce" />
	</message>


	<portType name="ChildLocatorPortType">
		<operation name="print">
			<input name="print" message="tns:print" />
			<output name="printResponse" message="tns:printResponse" />
			<fault name="InvalidLoginTime" message="tns:InvalidLoginTime" />
		</operation>
		<operation name="login">
			<input name="login" message="tns:login" />
			<output name="loginResponse" message="tns:loginResponse" />
			<fault name="InvalidPhoneNumber" message="tns:InvalidPhoneNumber" />
			<fault name="InvalidEmail" message="tns:InvalidEmail" />
			<fault name="InvalidPassword" message="tns:InvalidPassword" />
		</operation>
		<operation name="confirmLogin">
			<input name="confirmLogin" message="tns:confirmLogin" />
			<output name="confirmLoginResponse" message="tns:confirmLoginResponse" />
		</operation>
		<operation name="register">
			<input name="register" message="tns:register" />
			<output name="registerResponse" message="tns:registerResponse" />
			<fault name="InvalidPhoneNumber" message="tns:InvalidPhoneNumber" />
			<fault name="InvalidEmail" message="tns:InvalidEmail" />
			<fault name="InvalidPassword" message="tns:InvalidPassword" />
			<fault name="DifferentPasswords" message="tns:DifferentPasswords" />
		</operation>
		<operation name="confirmRegistration">
			<input name="confirmRegistration" message="tns:confirmRegistration" />
			<output name="confirmRegistrationResponse" message="tns:confirmRegistrationResponse" />
		</operation>
		
		<operation name="getFollowees">
			<input name="getFollowees" message="tns:getFollowees" />
			<output name="getFolloweesResponse" message="tns:getFolloweesResponse" />
		</operation>
		<operation name="getFollowers">
			<input name="getFollowers" message="tns:getFollowers" />
			<output name="getFollowersResponse" message="tns:getFollowersResponse" />
		</operation>
		
		<operation name="getAddNonce">
			<input name="getAddNonce" message="tns:getAddNonce" />
			<output name="getAddNonceResponse" message="tns:getAddNonceResponse" />
			<fault name="ConnectionAlreadyExists" message="tns:ConnectionAlreadyExists" />
			<fault name="InvalidPhoneNumber" message="tns:InvalidPhoneNumber" />
		</operation>
		
		<operation name="createChannel">
			<input name="createChannel" message="tns:createChannel" />
			<output name="createChannelResponse" message="tns:createChannelResponse" />
			<fault name="ConnectionAlreadyExists" message="tns:ConnectionAlreadyExists" />
			<fault name="InvalidPhoneNumber" message="tns:InvalidPhoneNumber" />
		</operation>
		
		<operation name="addFollowee">
			<input name="addFollowee" message="tns:addFollowee" />
			<output name="addFolloweeResponse" message="tns:addFolloweeResponse" />
			<fault name="InvalidPhoneNumber" message="tns:InvalidPhoneNumber" />
			<fault name="InvalidNonce" message="tns:InvalidNonce" />
		</operation>
		
		<operation name="sendCoordinates">
			<input name="sendCoordinates" message="tns:sendCoordinates" />
			<output name="sendCoordinatesResponse" message="tns:sendCoordinatesResponse" />
		</operation>
		
		<operation name="getCoordinates">
			<input name="getCoordinates" message="tns:getCoordinates" />
			<output name="getCoordinatesResponse" message="tns:getCoordinatesResponse" />
		</operation>
		
	</portType>

	<binding name="ChildLocatorBinding" type="tns:ChildLocatorPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="print">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidLoginTime">
				<soap:fault name="InvalidLoginTime" use="literal" />
			</fault>
		</operation>
		<operation name="login">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidPhoneNumber">
				<soap:fault name="InvalidPhoneNumber" use="literal" />
			</fault>
			<fault name="InvalidEmail">
				<soap:fault name="InvalidEmail" use="literal" />
			</fault>
			<fault name="InvalidPassword">
				<soap:fault name="InvalidPassword" use="literal" />
			</fault>
		</operation>
		<operation name="confirmLogin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="register">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidPhoneNumber">
				<soap:fault name="InvalidPhoneNumber" use="literal" />
			</fault>
			<fault name="InvalidEmail">
				<soap:fault name="InvalidEmail" use="literal" />
			</fault>
			<fault name="InvalidPassword">
				<soap:fault name="InvalidPassword" use="literal" />
			</fault>
			<fault name="DifferentPasswords">
				<soap:fault name="DifferentPasswords" use="literal" />
			</fault>
		</operation>
		<operation name="confirmRegistration">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getFollowees">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getFollowers">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="getAddNonce">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ConnectionAlreadyExists">
				<soap:fault name="ConnectionAlreadyExists" use="literal" />
			</fault>
			<fault name="InvalidPhoneNumber">
				<soap:fault name="InvalidPhoneNumber" use="literal" />
			</fault>
		</operation>
		
		<operation name="createChannel">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ConnectionAlreadyExists">
				<soap:fault name="ConnectionAlreadyExists" use="literal" />
			</fault>
			<fault name="InvalidPhoneNumber">
				<soap:fault name="InvalidPhoneNumber" use="literal" />
			</fault>
		</operation>

		<operation name="addFollowee">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidPhoneNumber">
				<soap:fault name="InvalidPhoneNumber" use="literal" />
			</fault>
			<fault name="InvalidNonce">
				<soap:fault name="InvalidNonce" use="literal" />
			</fault>
		</operation>
		
		<operation name="sendCoordinates">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		
		<operation name="getCoordinates">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		
	</binding>
	<service name="ChildLocatorService">
		<port name="ChildLocatorPort" binding="tns:ChildLocatorBinding">
			<soap:address location="http://localhost:8080/ws" />
		</port>
	</service>
</definitions>
